#slider{margin: 0px;padding:10px;float:center;width:940px;height:350px}
#slider ul{margin:0;padding:0;list-style:none;float:center;position:relative}
#slider ul li{margin:10px;padding:0;opacity:0;position:absolute;top:0;left:0;
-webkit-animation-name:slides_animation;
-webkit-animation-duration:25s;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;
-webkit-animation-delay: 0;
-webkit-animation-play-state: running;
-webkit-animation-fill-mode: forwards;
-moz-animation-name:slides_animation;
-moz-animation-duration:25s;
-moz-animation-timing-function: linear;
-moz-animation-iteration-count: infinite;
-moz-animation-delay: 0;
-moz-animation-play-state: running;
-moz-animation-fill-mode: forwards;
animation-name:slides_animation;
animation-duration:25s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-delay: 0;
animation-play-state: running;
animation-fill-mode: forwards;
}
#slider ul li:nth-child(2){-webkit-animation-delay:5s;-moz-animation-delay:5s;animation-delay:5s}
#slider ul li:nth-child(3){-webkit-animation-delay:10s;-moz-animation-delay:10s;animation-delay:10s}
#slider ul li:nth-child(4){-webkit-animation-delay:15s;-moz-animation-delay:15s;animation-delay:15s}
#slider ul li:nth-child(5){-webkit-animation-delay:20s;-moz-animation-delay:20s;animation-delay:20s}
#slider ul li img{display:inline-block}

/*animation css3*/
@-webkit-keyframes slides_animation{
0%{opacity:0;}
4%{opacity:1;}
16%{opacity:1;}
24%{opacity:0;}
100%{opacity:0;}
}

@-moz-keyframes slides_animation{
0%{opacity:0;}
4%{opacity:1;}
16%{opacity:1;}
24%{opacity:0;}
100%{opacity:0;}
}

@keyframes slides_animation{
0%{opacity:0;}
4%{opacity:1;}
16%{opacity:1;}
24%{opacity:0;}
100%{opacity:0;}
}
.caption {
    font-family: Verdana, sans-serif;
    font-size: 10px;
    
    margin: 8%;
    padding: 0;
    position: relative;
    overflow: hidden;
}
.caption img {

    margin: 0;
    padding: 0;
    background: #fff;
    border: none;
    opacity:70%;
}
.caption span {
    margin: 9%;
    padding:3%;
    color: #dedede;
    background: #222; /* browser che non supportano rgba */
    background: rgba(200, 120, 22, 0.7);
    position: absolute;
    left: 0;
    bottom: 0;
    font-size:medium;
    font-family: Arial, Helvetica, sans-serif;
}
.caption span strong {
    text-align: center;
    float:middle;
    font-weight: bold;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    display: block;
    padding-bottom: 10px;
}

   


ul{
    float:center;
}
.stileser{
    background-color: orange;
    width: 350px;
    height: auto;

    
    
}
.nomeClasse{
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    }
.nomeClasse img {
    width: 100%;
    display: block;
    -moz-transition:800ms;
    -webkit-transition: 800ms; 
    -o-transition: 800ms; 
    transition: 800ms;
    }
.nomeClasse figcaption {
    background: rgba(0,0,0,0.8);
    color: #fff;
    padding: .5rem;
    position: absolute;
    -webkit-transition: 800ms; 
    -o-transition: 800ms; 
    transition: 800ms;
    width: 100%;
    cursor: pointer;
    }
.nomeClasse[data-effect="fade-in"] figcaption {
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
    }
    .nomeClasse[data-effect="fade-in"]:hover figcaption {opacity: 1;}
